In [1]:
import time
import pymongo

client = pymongo.MongoClient("mongodb://localhost:27017/")

all_databases = client.list_database_names()
print(f'List of all databases: {all_databases}')
for dbs in all_databases[0:2]:
    db = client[dbs]
    print(f'Database name: {dbs}')
    all_collections = db.list_collection_names()
    print(f'List of all collections in {dbs} database: {all_collections}')
    for i in all_collections:
        collection = db[i]
        print(f'Collection name: {i}')
        docs = collection.find()
        for j in docs:
            print(f'This doc from {i} collection in {dbs} database:\n', j)
            time.sleep(.5)

List of all databases: ['FirstDB', 'SecondDB', 'admin', 'config', 'local']
Database name: FirstDB
List of all collections in FirstDB database: ['MySecondCollection', 'MyFirstCollection']
Collection name: MySecondCollection
This doc from MySecondCollection collection in FirstDB database:
 {'_id': ObjectId('6583579d0a42294b7aab6c7a'), 'name': 'Mohan', 'location': 'Nagar', 'marks': 65}
This doc from MySecondCollection collection in FirstDB database:
 {'_id': ObjectId('658357e00a42294b7aab6c7b'), 'name': 'Venky', 'location': 'Nanded', 'marks': 45}
This doc from MySecondCollection collection in FirstDB database:
 {'_id': ObjectId('658357e00a42294b7aab6c7c'), 'name': 'Mohan', 'location': 'Pune', 'marks': 50}
This doc from MySecondCollection collection in FirstDB database:
 {'_id': ObjectId('658357e00a42294b7aab6c7d'), 'name': 'Dinesh', 'location': 'Nanded', 'marks': 55}
This doc from MySecondCollection collection in FirstDB database:
 {'_id': ObjectId('658357e00a42294b7aab6c7e'), 'name': 'Prasad', 'location': 'Latur', 'marks': 60}
This doc from MySecondCollection collection in FirstDB database:
 {'_id': ObjectId('658357e00a42294b7aab6c7f'), 'name': 'Savita', 'location': 'Mumbai', 'marks': 75}
This doc from MySecondCollection collection in FirstDB database:
 {'_id': ObjectId('658357e00a42294b7aab6c80'), 'name': 'Amit', 'location': 'Delhi', 'marks': 80}
This doc from MySecondCollection collection in FirstDB database:
 {'_id': ObjectId('658357e00a42294b7aab6c81'), 'name': 'Sumit', 'location': 'Hydrabad', 'marks': 90}
This doc from MySecondCollection collection in FirstDB database:
 {'_id': ObjectId('658357e00a42294b7aab6c82'), 'name': 'Pawan', 'location': 'Surat', 'marks': 95}
This doc from MySecondCollection collection in FirstDB database:
 {'_id': ObjectId('658357e00a42294b7aab6c83'), 'name': 'Aman', 'location': 'Latur', 'marks': 85}
This doc from MySecondCollection collection in FirstDB database:
 {'_id': ObjectId('658357e00a42294b7aab6c84'), 'name': 'Test', 'location': 'Test', 'marks': 100}
Collection name: MyFirstCollection
This doc from MyFirstCollection collection in FirstDB database:
 {'_id': ObjectId('65834e840a42294b7aab6c6e'), 'name': 'Mohan', 'location': 'Nagar', 'marks': 65}
This doc from MyFirstCollection collection in FirstDB database:
 {'_id': ObjectId('65834e850a42294b7aab6c6f'), 'name': 'Venky', 'location': 'Nanded', 'marks': 45}
This doc from MyFirstCollection collection in FirstDB database:
 {'_id': ObjectId('65834e850a42294b7aab6c70'), 'name': 'Mohan', 'location': 'Pune', 'marks': 50}
This doc from MyFirstCollection collection in FirstDB database:
 {'_id': ObjectId('65834e850a42294b7aab6c71'), 'name': 'Dinesh', 'location': 'Nanded', 'marks': 55}
This doc from MyFirstCollection collection in FirstDB database:
 {'_id': ObjectId('65834e850a42294b7aab6c72'), 'name': 'Prasad', 'location': 'Latur', 'marks': 60}
This doc from MyFirstCollection collection in FirstDB database:
 {'_id': ObjectId('65834e850a42294b7aab6c73'), 'name': 'Savita', 'location': 'Mumbai', 'marks': 75}
This doc from MyFirstCollection collection in FirstDB database:
 {'_id': ObjectId('65834e850a42294b7aab6c74'), 'name': 'Amit', 'location': 'Delhi', 'marks': 80}
This doc from MyFirstCollection collection in FirstDB database:
 {'_id': ObjectId('65834e850a42294b7aab6c75'), 'name': 'Sumit', 'location': 'Hydrabad', 'marks': 90}
This doc from MyFirstCollection collection in FirstDB database:
 {'_id': ObjectId('65834e850a42294b7aab6c76'), 'name': 'Pawan', 'location': 'Surat', 'marks': 95}
This doc from MyFirstCollection collection in FirstDB database:
 {'_id': ObjectId('65834e850a42294b7aab6c77'), 'name': 'Aman', 'location': 'Latur', 'marks': 85}
This doc from MyFirstCollection collection in FirstDB database:
 {'_id': ObjectId('65834e850a42294b7aab6c78'), 'name': 'Test', 'location': 'Test', 'marks': 100}
This doc from MyFirstCollection collection in FirstDB database:
 {'_id': ObjectId('6583505b0a42294b7aab6c79'), 'name': 'Om', 'location': 'Nanded'}
Database name: SecondDB
List of all collections in SecondDB database: ['FirstCollection']
Collection name: FirstCollection
This doc from FirstCollection collection in SecondDB database:
 {'_id': ObjectId('658361851ce05d86c8ef4aa2'), 'bookname': 'Python', 'writer': 'Venky', 'price': 200}
This doc from FirstCollection collection in SecondDB database:
 {'_id': ObjectId('65836a88944fe3aed1ff4138'), 'bookname': 'MySQL', 'price': 250}